 @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
 :root{
	--bg-primary: #3c415c;
	/*--bg-primary: #343f4f;*/
	--bg-secondary:	white;
	--title-primary: #3778c2;
	--title-secondary: #f4db7d;
	--nav-bg: #28559a;
	--body-primary: white;
	--body-secondary: #343a40;
	--footer: #292929;
}

body{
    font-family: 'Play', sans-serif;
    background: var(--bg-primary);
    margin-bottom: 0px;
}

footer{
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	height: 100px;
}

h1{
	font-size: 80px;
	font-weight: bold;
	color: white;
}

h2{
	font-size: 65px;
	color: var(--title-secondary);
}

h3{
	font-size: 55px;
	color: var(--title-primary);
}

h4{
	font-size: 45px;
	color: var(--title-secondary);
}

h5{
	font-size: 35px;
	color: var(--title-primary);
}

h6{
	font-size: 30px;
	color: var(--title-secondary);
}

p, b, strong, li{
	font-size: 25px;
	color: var(--body-primary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
   background-color: var(--nav-bg);
}

.nav a:hover{
	color: white;
	text-decoration: underline;
	transition: 1s;
}

.nav a{
	font-size: 20px;
	color: white;
}

.card{
	background-color: var(--bg-secondary);
	margin-top: 20px;
	border: none;
}

.card-text{
	color: var(--body-secondary);
}

.btn{
	color: white;
	text-decoration: none;
}

.card img{
	width: 100%;
}

.typewriter{
	overflow: hidden;
	border-right: 4px solid white;
	white-space: nowrap;
	margin: 0 auto;
	font-family: monospace;
	letter-spacing: .35em;
	animation: 
		typing 1.7s steps(30, end), 
		blink-caret .7s step-end infinite;
}

@keyframes typing{
	from {width: 0;}
	to {width: 696.8px;}
}

@keyframes blink-caret{
	from, to {border-color: transparent;}
	50% {border-color: white;}
}

.footer-link{
	text-decoration: none;
	padding: 5px;
	color: black;
}

.footer-custom{
	background-color: var(--footer);
}
