 @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
 :root{
	--bg-primary: #3c415c;
	/*--bg-primary: #343f4f;*/
	--bg-secondary:	white;
	--title-primary: #3778c2;
	--subheading: #4b9fe1;
	--title-secondary: #f4db7d;
	--nav-bg: #28559a;
	--body-primary: white;
	--body-secondary: #343a40;
	--footer: #212529;
}

html, body{
	height: 100%;
    font-family: 'Play', sans-serif;
    background: var(--bg-primary);
    margin-bottom: 0px;
    overflow-x: hidden;
}

h1{
	font-size: 80px;
	font-weight: bold;
	color: white;
}

h2{
	font-size: 65px;
	color: white;
}

h3{
	font-size: 55px;
	color: var(--title-primary);
}

h4{
	font-size: 45px;
	color: var(--title-primary);
}

h5{
	font-size: 35px;
	color: var(--title-primary);
}

h6{
	font-size: 30px;
	color: var(--subheading);
}

p,b,strong,li{
	font-size: 25px;
	color: var(--body-primary);
}

.navbar{
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav-brand a,i{
	font-size: 40px;
}

.nav-item a{
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 3px solid #6c757d;
}

.nav-item .active{
	border-color: white;
}

#particle-js{
	width: 100%;
	height: 100%;
	background: var(--bg-primary);
	background-size: cover;
}

.card{
	background-color: var(--bg-secondary);
	margin-top: 20px;
	border: none;
}

.card-text{
	color: var(--body-secondary);
	font-size: 20px;
}

.card-text b{
	color: var(--body-secondary);
	font-size: 20px;
}

.card-body a{
	font-size: 20px;
}

.btn{
	color: white;
	text-decoration: none;
}

.card img{
	width: 100%;
}

/*
.typewriter{
	overflow: hidden;
	border-right: 4px solid white;
	white-space: nowrap;
	margin: 0 auto;
	font-family: monospace;
	letter-spacing: .35em;
	animation: 
		typing 1.7s steps(30, end), 
		blink-caret .7s step-end infinite;
}

@keyframes typing{
	from {width: 0;}
	to {width: 696.8px;}
}

@keyframes blink-caret{
	from, to {border-color: transparent;}
	50% {border-color: white;}
}
*/

footer{
	position: relative;
	height: 100px;
	background-color: var(--footer);
}

.page-wrapper{
	min-height: 100%;
}

.footer .footer-content{
	position: absolute;
	text-align: center;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
}

.footer-link{
	text-decoration: none;
	padding: 10px;
	color: black;
}

.transition-slide{
	transition: 350ms;
	transform: translateX(0);
}

html.is-animating .transition-slide{
	transform: translateX(-100%);
}

html.is-leaving .transition-slide{
	transform: translateX(100%);
}

.transition-navbar{
	transition: 350ms;
	transform: translateY(0);
}

html.is-animating .transition-navbar{
	transform: translateY(-150%);
}

html.is-leaving .transition-navbar{
	transform: translateY(-150%);
}
/*Starting from here is the css code for the timeline page.*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:center
}